.colors {
  :global {
    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .yellow {
      color: yellow;
    }
    .green {
      color: green;
    }
    .blue {
      color: blue;
    }
    .indigo {
      color: indigo;
    }
    .purple {
      color: purple;
    }
  }
}